
#nav-content:hover, #nav-content:active{
    color:#FFB43E !important;
    text-decoration: underline;
}
/* navigation.css */

/* Default color for the burger icon (black) */
/* navigation.css */

/* Default color for the burger icon (black) */
/* navigation.css */

/* Ensures that this style has higher specificity */
.navbar-toggler {
    /* Default color for the burger icon (black) */
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
  
  /* Increases the specificity for the homepage */
  .homepage .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  
  