/* .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
   */

   .carousel {
    position: relative;
    width: 85%; /* Set the carousel width to 85% of the screen width */
    height: 400px; /* Fixed height of the carousel */
    margin: auto; /* Center the carousel horizontally */
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    min-width: 100%; /* Ensure the image covers the width */
    height: 400px; /* Fixed height for each image */
    /* object-fit: contain; Ensure the image fits within the frame without cropping */
    object-fit: contain;
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .arrow.left {
    left: 0;
  }
  
  .arrow.right {
    right: 0;
  }

  
  